<div class="container">
  <h1>Tic Tac Go</h1>
  <p>faisons des games ici</p>
  <table id="board">
    <tr>
      <td class="box">
      </td>
      <td class="box">
      </td>
      <td class="box">
      </td>
    </tr>
    <tr>
      <td class="box">
      </td>
      <td class="box">
      </td>
      <td class="box">
      </td>
    </tr>
    <tr>
      <td class="box">
      </td>
      <td class="box">
      </td>
      <td class="box">
      </td>
    </tr>
  </table>
  <script type="text/javascript" src="games/game.js"></script>
</div>
