<div class="container">
  <%= "#{@game.id} / #{@games.count}"%>
  <h1>Games#show</h1>
  <p>faisons des games ici</p>
  <table id="board">
    <tr data-column-id="1">
      <td class="box" data-line-id="1">

      </td>
      <td class="box" data-line-id="2">
      </td>
      <td class="box" data-line-id="3">
      </td>
    </tr>
    <tr data-column-id="2">
      <td class="box" data-line-id="1">
      </td>
      <td class="box" data-line-id="2">
      </td>
      <td class="box" data-line-id="3">
      </td>
    </tr>
    <tr data-column-id="3">
      <td class="box" data-line-id="1">
      </td>
      <td class="box" data-line-id="2">
      </td>
      <td class="box" data-line-id="3">
      </td>
    </tr>
  </table>
</div>
