<div class="container">
  <h1>Games#show</h1>
  <p>faisons des games ici</p>
  <table id="board">
    <tr>
      <td class="box">
      </td>
      <td class="box">
      </td>
      <td class="box">
      </td>
    </tr>
    <tr>
      <td class="box">
      </td>
      <td class="box">
      </td>
      <td class="box">
      </td>
    </tr>
    <tr>
      <td class="box">
      </td>
      <td class="box">
      </td>
      <td class="box">
      </td>
    </tr>
  </table>
</div>
